<h3>Cart</h3>

<div *ngIf="!submitted && items.length === 0">
  <h4>Your shopping cart is empty.</h4>
  <p><a routerLink="/">Continue Shopping</a></p>
</div>

<div *ngIf="!submitted && items.length > 0">
  <h4>Items in Your Cart</h4>
  <div class="cart-item" *ngFor="let item of items">
      <span>{{item.name}}</span>
      <span>{{item.price | currency}}</span>
    </div>
    <p><a routerLink="/shipping">Shipping Prices</a><br></p>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
      <div><label for="name">Name</label><input type="text" id="name" formControlName="name"></div>
      <div><label for="address">Address</label><input type="text" id="address" formControlName="address"></div>
      <button class="button" type="submit">Purchase</button> — or — <a routerLink="/">Continue Shopping</a>
    </form>
</div>

<div *ngIf="submitted">
    <h4>Thanks for your purchase, {{customerData.name}}.</h4>
    <p>Your order will ship to {{customerData.address}} very soon.</p>
    <p><a routerLink="/">Shop For More!</a></p>
  </div>
