<h2>Products</h2>
<!-- *ngFor is a "structural directive". Structural directives shape or reshape the DOM's structure,
    typically by adding, removing, and manipulating the elements to which they are attached.
    Any directive with an asterisk, *, is a structural directive.

    To display the names of the products, use the interpolation syntax {{ }}.
    Interpolation renders a property's value as text.
    property binding [ ] lets you use the property value in a template expression.

    Event binding uses a set of parentheses, ( ), around the event, as in the following <button> element:
        In the case of the button, the click event calls the share method of the parent module.
        In the case of the <app-product-alerts> module tag, the notify event will trigger the onNotify method
            of the parent module. The notify event itself is emitted when a button within the product-alerts component
            is clicked. <button (click)="notify.emit()">Notify Me</button>
            The actual notify event is defined in the product-alerts component as an EventEmitter using the Output decorator.
            @Output() notify = new EventEmitter();
-->
<div *ngFor="let product of products; index as productId">
    <h3>
        <a [title]="product.name + ' details'" [routerLink]="['/products',productId]">{{product.name}}</a>
    </h3>

    <p *ngIf="product.description">
        Description: {{product.description}}
    </p>

    <button (click)="share(product)">Share!</button>
    <app-product-alerts [product]="product" (notify)="onNotify(product)"></app-product-alerts>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
