<a [routerLink]="['/']">
    <h1>{{appName}}</h1>
  </a>

  <a *ngIf="route !== '/cart'" [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a>
  <button *ngIf="route === '/cart'" class="button fancy-button" disabled><i class="material-icons">shopping_cart</i>Checkout</button>

  <!--
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  -->
